<aside class="col-lg-3">

    <h1 class="my-4">O'Fig</h1>
    
    <h2 class="h5">Catégories</h2>
    <ul class="list-group">
        <% for(const category of categories) { %>

      <li class="list-group-item">
        <a class="d-flex justify-content-between align-items-center" href="/?category=<%=category.category%>">
          <%=category.category%>
          <span class="badge badge-primary badge-pill"><%=category.count%></span>
        </a>
      </li>
            
    <% } %>
     
    </ul>

  </aside>
  <!-- /.col-lg-3 -->